/* Genel Stiller */
.video-container {
    width: 100%;
    max-width: 850px;
    margin: auto;
    margin-left: 5%;
  }
  
  .video-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .video-list {
    max-height: 300px;
    overflow-y: auto;
  }
  
  /* Responsive Tasarım */
  @media (max-width: 992px) {
    .video-container {
      max-width: 100%;
      margin-left: 10px;
    }
    .video-title {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 768px) {
    .video-container iframe {
      height: 300px;
      margin-left: -25px;
    }
    .video-title {
      text-align: center;
    }
    .video-list {
       
      max-height: 200px;
    }
  }
  
  @media (max-width: 576px) {
    .video-container iframe {
        margin-top: -30px;
        margin-bottom: 10px;
      height: 250px;
      margin-left: 0px;
      
    }
    
    .video-title {
       
      font-size: 0.9rem;
    }
    .video-list {
      font-size: 0.85rem;
    }
  }
  