.book-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.book-card {
  max-width: 350px; /* Kart genişliği */
  border: 2px solid #00C7D5;
  border-radius: 8px;
  box-shadow: none;
  text-align: center;
  padding: 10px;
  margin: 5px;
  background: none;
}

.book-title {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  background: none !important;
}

.book-image {
  width: 50% !important;
  height: auto;
  padding: 5px;
}

.icon-row {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  margin: 5px 0;
}

.custom-icon {
  width: 24px;
  height: 24px;
}

.cart-button {
  width: 100%;
  font-size: 14px;
  padding: 8px;
  background-color: #00C7D5 !important;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

  
  @media (max-width: 768px) {
    
    .d-flex.justify-content-center {
      justify-content: center !important;
    }
  
   
    .mb-3.d-flex.justify-content-center {
      justify-content: center;
    }
  
    
    .book-card {
      width: 100%;
      max-width: 350px;
      margin: 20px auto; 
    }
  
    
    .book-image {
      height: auto;
      max-width: 100%;
    }
  
    .icon-row {
      justify-content: flex-start;
    }
  
    .cart-button {
      font-size: 1rem;
    }
  
    
    .justify-content-center {
      display: flex;
      justify-content: center;
    }
  
    
    .d-flex.justify-content-center {
      justify-content: center;
    }
  
   
    .col-md-6 {
      max-width: 50%;
    }
  }
  