/* Footer Genel */
.footer {
  background: url("src/assets/images/footer.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 20px 10px;
}

/* Logo */
.footer-logo-container {
  position: relative;
  width: 100%;
  height: 150px;
}

.footer-logo {
  width: 250px;
  max-height: 150px;
  object-fit: contain;
}

/* Sağ Bölüm İçerik */
.footer-right-content {
  text-align: center;
  margin-top: 10px;
}

/* Store Icons */
.store-icon {
  width: 120px;
  margin-bottom: 10px;
}

/* Contact Item Styling */
.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.contact-icon {
  width: 24px;
  height: 24px;
}

/* Ödeme Yöntemleri */
.payment-image {
  width: 100%;
  max-width: 400px;
  margin: 20px auto 0;
  display: block;
}

/* Sosyal Medya İkonları */
.social-icons {
  display: flex;
  justify-content: start;
}

.social-icon {
  width: 30px;
  height: 30px;
}

/* Responsive Tasarım */
@media (max-width: 1024px) {
  .footer-logo {
    width: 200px;
  }

  .store-icon {
    width: 100px;
  }

  .payment-image {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 5px;
    text-align: center;
  }

  .row {
    flex-direction: column;
  }

  .col-md-3,
  .col-md-5,
  .col-md-4 {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
  }

  .footer-logo {
    width: 150px;
    max-height: 100px;
  }

  .store-icon {
    width: 90px;
  }

  .payment-image {
    max-width: 250px;
  }

  .social-icons {
    justify-content: center;
  }
}
