html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
/* Footer.css */
.footer .col-md-3 {
  padding-left: 150px; 
}


.main-content {
  flex: 1;
}

.footer {
  background: url("../assets/footer.png") no-repeat center center;
  background-size: cover;
  
  max-height: 300px !important;
  position: relative;
  padding: 40px 0px;
  margin-top: auto;
}

.footer-logo-container {
  position: relative;
  width: 100%;
  height: 150px;
}

.footer-logo {
  width: 250px;
  max-height: 400px;
  object-fit: contain;
  margin-top: -100px;
}

.footer-right-content {
  text-align: center;
  margin-top: -50px;
}

.store-icon {
  width: 120px;
  margin-bottom: 10px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-bottom: 0px;
}

.contact-icon {
  width: 24px;
  height: 24px;
}

.payment-image {
  width: 100%;
  max-width: 200px;
  margin: 0px ;
  display: block;
}

.social-icons {
  display: flex;
  justify-content: start;
}

.social-icon {
  width: 30px;
  height: 30px;
}

@media (max-width: 1024px) {
  .footer-logo {
    width: 200px;
  }

  .store-icon {
    width: 100px;
  }

  .payment-image {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 5px;
    text-align: center;
    min-height: 500px;
  }

  .row {
    flex-direction: column;
  }

  .col-md-3,
  .col-md-5,
  .col-md-4 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .footer-logo {
    width: 150px;
    max-height: 100px;
  }

  .store-icon {
    width: 90px;
  }

  .payment-image {
    max-width: 250px;
  }

  .social-icons {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 0px 0px;
    min-height: 500px;
    width: 100%;
  }

  .footer-logo {
    width: 100px;
    margin-top: -30px;
  }

  .store-icon {
    margin-top: 0px;
    width: 70px;
  }

  .payment-image {
    max-width: 300px;
  }
  .footer-right-content{
    margin-top: -80px;
  }

  .social-icons {
    justify-content: center;
  }
}
