.header-container {
  display: flex;
  align-items: center;
  justify-content:space-between ; 
  transition: all 0.3s ease;
  padding: 10px 20px;
  margin-top: 15px;
  background-color: #fff;
  height: 150px;
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.header-container.scrolled {
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button-container.scrolled-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
}

.custom-button {
  margin: 5px;
  transition: all 0.3s ease;
}

.custom-button.green {
  background-color: #4caf50;
}

.custom-button.gold {
  background-color: #ff9800;
}

.custom-button.scrolled {
  font-size: 14px;
  padding: 5px 10px;
}

.mobile-menu .ant-dropdown-menu {
  min-width: 200px;
}



.button-container.scrolled .button-row > .custom-button {
  margin-top: 10px; /* Add some spacing when scrolled */
}

.custom-button.green, .custom-button.gold {
  transition: all 0.3s ease-in-out;
}

/* Optionally, you can add more styles for when scrolled */
.scrolled .custom-button.green {
  position: relative;
  top: 20px; /* Moves the button down when scrolled */
}



/* Logo */
.logo-container {
  position: absolute;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  display: flex;
  transition: height 0.3s ease-in-out, transform 0.3s ease-in-out;
  align-items: center;
}
.logo:hover {
  transform: scale(1.1); /* Büyütme oranı */
}

.logo-container img {
  max-height: 300px;
  object-fit: contain;
  width: auto;
}

/* Search Bar */
.search-bar {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  top: 20px;
  background-color: #f7f7f7;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar .MuiOutlinedInput-root {
  border-radius: 25px;
  padding: 0 20px;
  height: 40px;
}

/* Button Groups */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px; /* Added larger gap for rows */
  margin-top: -40px;
}

.button-row {
  display: flex;
  gap: 10px; /* Spacing between buttons */
}

.custom-button {
  border-radius: 15px;
  border: none !important;
  width: 120px;
  height: 52px;
  font-weight: bold !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.85rem !important;
  white-space: normal;
  padding: 5px;
  gap: 8px !important; /* Space between icon and text */
}

.custom-button:hover {
  background-color: #f7f7f7;
}

/* Button Colors */
.custom-button.green {
  background-color: rgba(12, 137, 12, 0.822);
  color: #fff;
}

.custom-button.gold {
  background-color: rgba(205, 176, 32, 0.882);
  color: #fff;
}

.custom-button.brown {
  background-color: rgba(165, 42, 42, 0.879);
  color: #fff;
}

.custom-button.forestgreen {
  background-color: rgba(12, 137, 12, 0.822);
  color: #fff;
}

.button-label {
  line-height: 1.2;
  text-align: center;
}
.custom-button.green:hover {
  background-color: #006400; /* Dark green on hover */
}

.custom-button.gold:hover {
  background-color: #b8860b; /* Dark goldenrod on hover */
}

.custom-button.brown:hover {
  background-color: #8b4513; /* Saddle brown on hover */
}

.custom-button.forestgreen:hover {
  background-color: #228b22; /* Forest green on hover */
}
/* Mobil Menü */
.mobile-menu {
  display: none; /* Varsayılan olarak gizli */
}

/* Ekran 768px ve altındayken geçerli olacak stiller */
@media (max-width: 468px) {
  .header-container {
    flex-direction: column; /* Dikey hizalama */
    align-items: center;
    margin-left: 0px;
    align-items: center;
    height: 250px;
    width: auto !important;
  }

  .logo {
    margin-top: -70px;
  }

  .mobile-menu {
    display: block; /* Mobilde görünsün */
    width: 90%;
    text-align: center;
    margin-top: -50px;
  }

  .mobile-menu .dropdown-toggle {
    width: 50%;
    margin: 0 auto;
  }
 
  .button-container {
    display: none !important; /* Butonları gizle */
  }
}








/*@media (max-width: 1024px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    max-width: 200px; 
  }

  .button-container {
    align-items: center;
    margin-top: 10px;
  }
}*/