.egitmenler-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  text-align: center !important;
  margin-top: 50px; 
}


.egitmenler-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px; 
  padding-bottom: 10px;
  border-bottom: 2px solid #5b1212;
  width: 100%; 
  text-align: center; 
}


.egitmenler-row {
  display: flex;
  justify-content: center;
  
}


.card-img {
  width: 100%;
  max-width: 350px;
  max-height: 300px; 
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width:768px){
  .card{
    width: 400px;
  }
}
@media (max-width:468px){
  .card{
    width: 300px;
  }
}